<div class="aaa">
    <div>
        <div class="announcement">
            <label class="lfield">{{user_role}} Registration Complete with below details</label>
        </div>
        <div class="prdf-div">
            <label class="lfield">User ID: {{user_id}}</label>
            <br>
            <label class="lfield">First Name: {{form_inp.firstName}}</label>
            <br>
            <label class="lfield">Last Name: {{form_inp.lastName}}</label>
            <br>
            <label class="lfield">Email: {{form_inp.email}}</label>
            <br>
            <label class="lfield">Phone: {{form_inp.phone}}</label>
            <br>
            <label class="lfield">City: {{form_inp.city}}</label>
            <br>
            <label class="lfield">State: {{form_inp.state}}</label>
            <br>
            <label class="lfield">Country: {{form_inp.country}}</label>
            <br>
            <label class="lfield">Code: {{form_inp.code}}</label>
            <br>
            <br>
            <button class="home-button" (click)="goinghome()">Home</button>
        </div>
    </div>
    
</div>




